* {
    padding: 0px;
    margin: 0px;
}

.header {
    background-image: url("../images/background-tile-2.png");
    background-repeat: repeat;
    width: 100%;
    height: 100px;
}

.nav-logo {
    position: fixed;
    width: 135px;
    height: auto;
}

.nav-links {
    padding: 35px 0 0 180px;
}

.nav-links a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    text-decoration: none;
    padding-right: 35px;
}

.search-bar {
    position: fixed;
    padding: 35px 0 0 75%;
}

.shipping-banner {
    background-color: #f3ebcf;
    width: 100%;
    height: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

