* {
    padding: 0px;
    margin: 0px;
    font-family: "montserratregular",Helvetica,Arial,sans-serif;
}

.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 25px;
    background-image: url(../images/background-tile-2.png);
}

.nav-logo {
    position: fixed;
    width: 140px;
}

.nav-link {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    padding: 40px 0;
}

.department {
    grid-column: 3/4;
}

.contests {
    grid-column: 4/5;
}

.current-ad {
    grid-column: 5/6;
}

.brands {
    grid-column: 6/7;
}

.search-bar {
    grid-column: 8/11;
    padding: 40px 0;
}

.search-input {
    width: 300px;
    height: 25px;
    border-radius: 5px;
}

.shipping-banner {
    background-color: #f3ebcf;
    text-align: center;
    font-size: 21px;
    padding: 15px 0;
}

.banner-img {
    width: 100%;
    height: auto;
}

.brands-bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 100%;
    justify-items: center;
    align-items: center;
}

.brand-img {
    width: 150px;
    height: auto;
}

.camp-chef {
    grid-column: 1/2;
}

.dewalt {
    grid-column: 2/3;
}

.ariat {
    grid-column: 3/4;
}

.stihl {
    grid-column: 4/5;
}

.carhartt {
    grid-column: 5/6;
}

.nowrap {
    white-space: nowrap;
}